<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlClient"  culture="neutral" />
				<bindingRedirect newVersion="4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
	<connectionStrings>
		<add name="conn" connectionString="Data Source=.\SQLExpress;Initial Catalog=STDB;User ID=jpg_sanchez; Password=@123456*" providerName="System.Data.SqlClient" />
		<!--<add name="sqlconn" connectionString="Data Source=SQL5080.site4now.net;Initial Catalog=DB_A6803D_CUATE;User Id=DB_A6803D_CUATE_admin;Password=c3llpoint" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<!--<system.data>
    <DbProviderFactories>
      -->
	<!--<remove invariant="System.Data.SqlClient" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
	<!--
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
    </DbProviderFactories>
  </system.data>-->
</configuration>