@using SOFTWAREANDTECH.Site.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<div class="row">
    <div class="col-md-12">
        <div id="btn_nuevopuesto" class="btn btn-info" data-toggle="modal" data-target="#mform_user"><i class="fa fa-plus"></i>&nbsp; Nuevo</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="tbl-user" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Sexo</th>
                    <th>Estatus</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<partial name="_UserForm" model="new MUserForm()" />